:root {
  --white:#fff;
  --navy:#344256;
  --gray:#eaedef;
  --yello:#f3d900;
  
}

body{
  box-sizing: border-box;
  padding:0;
  margin: 0;  
  }

header,
main,
footer {
  width: 100%;
}

ul {
  list-style-type: none;
}

/* section{
    margin-top:5.25rem;
    padding: 1rem;
  } */
  

  /* -------font------ */
  h1,
  h2{
    font-size: 3rem;
    /* line-height: 53px; */
    color: var(--navy);
    font-weight: 700;
    font-family: "Poppins";
  }

  h3{
    font-size: 1.5rem;
    /* line-height: 24px; */
    color: var(--white);
    font-weight: 400;
    font-family: "Source Sans Pro";
    font-weight: bold;
  }

  li{
    font-size: 1rem;
    /* line-height: 33px; */
    color: var(--navy);
    font-weight: 400;
    font-family: "Source Sans Pro";
    text-decoration: none;
  }

  a{
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: var(--navy);
    font-weight: 700;
    font-family: "Poppins";
  }

  p{
    font-size: 1rem;
    line-height: 2rem;
    color: var(--white);
    font-weight: 400;
    font-family: "Source Sans Pro";
    text-align: left;
    /* margin-bottom: 1rem;
    margin-top: 1rem; */
  }
  /* ------------------------- */

  header {
  background-color:var(--white);
  margin-bottom: 1.5rem; 
 }

  h1{
    margin: 1rem;
  }
  /*---------nav of header------*/
  .navbar {
    font-size: 18px;
    background-color:var(--white);
    box-shadow: 0.125rem 0.125rem 0.1875rem slategray;
    padding-bottom: 10px;
  }
  
  #main-nav {
    list-style-type: none;
    display: none;
    flex-direction: column;
  }
  
  #main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .nav-links,
  #logo {
    text-decoration: none;
    color:var(--navy);
  }
  
  #logo:hover,
  .nav-links:hover {
    color:var(--navy);
  }
  
  #logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  #navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color:var(--navy);
    font-size: 24px;
  }
  
  #navbar-toggle:hover {
    color:var(--yello);
  }

  svg{
        width: 2rem;
        height: 2rem;
    }
/*----------------------------------------  */
/*----------------search------------------*/
.search-form{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: var(--white);
  margin-left: 1rem;
  width:80%;
}

input[id=searchbar]{
 width: 100%;
 border-radius: 0.3rem;
 height: 2.5rem; 
}

.search-form button{
 position: absolute;
 background-color: var(--navy);
 padding: 0.15rem;
 cursor: pointer;
 outline: none;
}

.search-form button svg{
 fill: var(--white);
}
/* -------------------------------------------     */
/*---------------footer----------------*/
.footer-nav{
  background-color: var(--white);
  width: 100%;
  }

.footer-links{
  margin-right: 1rem;
  }

.footer-links>ul>li>a{
  font-weight: 400;
  font-family: "Source Sans Pro"; 
  }

.pf {
  background-color:var(--navy);
  padding: 2rem;
  }

.footer p {
  font-style: italic;
  }

.footer-nav ul{
  text-decoration: none;
  }


/*-------------------------------------------*/
/*-------------------banner area---------------------  */
.background{
  padding: 2rem; 
  background-color: var(--navy);
}

.dd h2 {
  color:var(--white);
  margin-bottom: 1rem;
  margin-top: 3rem;
  }

.dd p {
  margin-top: 1rem;
  margin-bottom: 3rem;
  }

.bannerinside{
  background-color: var(--white);
  padding: 1rem; 
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  }
.bannerinside p{
  color: var(--navy);
}

.logoPic svg{
  width: 5rem;
  height: 5rem;
}

/*----------------------------------------  */
/*-------------------options---------------------  */
.options h2 {
  margin: 1rem;
}
.option{
  display: flex;
  flex-direction: column;
}

.hala{ 
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sub-options h3{
  color: var(--navy);

}
.sub-options{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 40%;
}

/* .scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu > div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
} */
/*----------------------------------------  */
/*--------------------need-----------------------*/
.need{
  padding: 1rem; 
  background-color: var(--gray);
  justify-content: space-between;
}
.need h2 {
  margin: 1rem;
}
.need p{
  color: var(--navy);
}
.need .yelloButton{
  margin: 1rem;
}
.subneed{
  background-color: var(--white);
  margin:0.5rem 1rem 1rem 1rem;
  flex-direction: column;
}

.subneed div {
  padding: 1rem;
}

/*-------------------------------------------*/
/*--------------------move-----------------------*/
.move{
  padding: 1rem; 
  background-color: var(--navy);
}

.move h2 {
  color:var(--white);
}

.singin{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}

input[id=email]{
  width: 100%;
  border-radius: 0.5rem;
}

label{
  font-family: "Source Sans Pro";
}
.singin button{
  position: absolute;
  background-color: var(--white); 
  padding: 1.3rem;
  width: 15%;
  border-radius:0 0.5rem 0.5rem 0;
}

.sr-only{
  color: var(--navy);
  overflow: visible;
  clip: initial;
  display: flex;
  place-items:center;
}

 span{
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: bold;
}

/*-------------------------------------------*/
/*---------------second page--------------*/

.how{
  margin: 1rem;
}
.step p{
  color: var(--navy);
}

.step h3{
  color: var(--navy);
}

.backPic {
  background-image: url("img/form-bg-lg.jpg");
  background-position:top;   
  padding-top:5rem;
  min-height:12.5rem;
}
.backPic h2{
  padding: 0rem 1rem 2.5rem 1rem;
}


fieldset {
  background-color: var(--navy);
  padding:1rem;
  border:none;
  color: var(--navy);
  margin: 0;
}

fieldset > div {
  padding: 0 0.75rem;  
}

label {
  display: block;
  color: var(--white);
  margin-bottom: 0.3rem;
}

input {
  width: 100%;
  height: 2.5rem; 
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-color:var(--navy);
  background-color: var(--white);
}
#placeholder{
  color: transparent;
}

textarea{
  height:15rem; 
  width: 90%;
  border-radius: 0.5rem;
}

fieldset > textarea {
  width: inherit;
}

.flex-container .yelloButton{
  margin-left: 1rem;
}

/*-------------------yelloBottun------------------------*/
.yelloButton{
  background-color: var(--yello);
  padding: 1rem;
  max-width:9rem;
  border-radius: 0.3rem; 
}
/*-------------------------------------------*/


 @media only screen and (min-width: 320px){
  .container{
    display: flex;
    flex-direction: column;
  }
} 

@media only screen and (min-width: 750px){

  form {
    min-width: 40.625rem;
    /* margin-left: 1.875rem; */
  }
  
  .col{
    flex-direction: column;
    width: 40%;
  }
  .col img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .flex{
    display: flex;
  }
  
  .sub{
    flex-direction: column;

  }

  .subneed{
    flex-direction: row;
    width: 100%;
  }
  
  .sub-options{
    width: 20%;
  }

  .step{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .therest {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
    width: 98%;
	}

	.therest > div {
		flex-basis: 49%;
  }
  .flex-container{
    display: flex;
    flex-direction:column;

  }
  
  .content {
    margin-bottom: 1rem;
  }
  
   .background{
    display: flex;
    flex-direction: column;
  }

  .banner{
    display: flex;
    flex-wrap: wrap; 
  }
  
  .bannerinside{
    width: 40%;
  }
  
}

@media only screen and (min-width: 1160px){
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }
  
  .background{
    justify-content: space-between;
  }

  .dd{
    width: 100%;
    justify-content: flex-start;
    margin-right: 15rem;

  }

  .footer-nav, .all-footer-links {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: flex-start;
  }

  .footer{
    display: flex;
    justify-content: space-between;
  }
  
  .footer-logo{
    width: 50%;
  }

  
  .background{
    flex-direction: row;
    
  }

  .search-form{
    width: 45%;
  }
  
  .need{
    justify-content: center;
  }
  .subneed{
    flex-direction: column;
    width: 28%;
  }

  .sub{
    flex-direction: row;
  }


  .step{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
   textarea {
    width: 50%;
  }
  
}

/*----------------------------------------------------*/

